<ion-view view-title="Configurações">
	<ion-content ng-controller="configCtrl">
		<div class="list">
			<div class="item item-toggle">
		    	Tranca manual
		    	<label class="toggle toggle-positive" ng-click="close()">
					<input type="checkbox" ng-model="manual.checked" ng-init="manual.checked = checaStatus()">
		        	<div class="track">
		        		<div class="handle"></div>
		       		</div>
		     	</label>
			</div>
			<hr>
			<div class="item item-toggle">
		    	Tranca por distância
		    	<label class="toggle toggle-positive" ng-click="setDist()">
					<input type="checkbox" ng-model="distancia.checked" ng-init="distancia.checked = checaStatus()">
		        		<div class="track">
		        	<div class="handle"></div>
		       		</div>
		     	</label>
		     	<br /><br />
			</div>
			<div >
	     		<input type="range" min="50" max="200" ng-model="distancia.value" ng-click="setDist()">
	     		<span class="item-note"> Distância: {{distancia.value}} </span>
	     	</div>
			<hr>
			<div class="item item-toggle">
		    	Tranca programada
		    	<label class="toggle toggle-positive" ng-click="setTime()">
					<input type="checkbox" ng-model="programada.checked" ng-init="programada.checked = checaStatus()">
		        		<div class="track">
		        	<div class="handle"></div>
		       		</div>
		     	</label>
			</div>
			<div class="item item-icon-right"> 
     			Abertura
     			<input type="time" ng-model="programada.time" ng-click="setTime()">
     		</div>		     	
		</div>
	</ion-content>
</ion-view>