<ion-view view-title="Configurações">
	<ion-content ng-controller="configCtrl">
		<div class="list">
			<div class="item item-toggle">
		    	Tranca manual
		    	<label class="toggle toggle-positive" ng-model="manual.checked" ng-init="manual.checked = checaStatus()" ng-click="close()">
					<input type="checkbox">
		        	<div class="track">
		        		<div class="handle"></div>
		       		</div>
		     	</label>
			</div>

			<div class="item item-toggle">
		    	Tranca por distância
		    	<label class="toggle toggle-positive" ng-click="setDist()">
					<input type="checkbox" ng-model="distancia.checked" ng-init="distancia.checked = checaStatus()">
		        		<div class="track">
		        	<div class="handle"></div>
		       		</div>
		     	</label>
		     	<br /><br />

		     	<div>
		     		<input type="range" min="50" max="200" ng-model="distancia.value" >
		     		<span class="item-note"> Distância: {{distancia.value}} </span>
		     	</div>
			</div>

			<div class="item item-toggle">
		    	Tranca programada
		    	<label class="toggle toggle-positive" ng-click="setTime()">
					<input type="checkbox" ng-model="programada.checked" ng-init="programada.checked = checaStatus()">
		        		<div class="track">
		        	<div class="handle"></div>
		       		</div>
		     	</label>

	     		<span class="item item-icon-right"> 
	     			Abertura
	     			<!-- <i class="icon ion-gear-a" ng-click="setTime()"></i> -->
	     			<input type="time" ng-model="programada.time">
	     		</span>		     	
			</div>
		</div>	
	</ion-content>
</ion-view>