<ion-view view-title="Histórico">
	<ion-content>
		 <ion-list  id="history-list" >
		 	<ion-item class="item item-list item-thumbnail-right item-button-right" ng-click="console.log('aaa')" >
				<h2><i> Abertura manual </i></h2>
				<p> 08/09/2018 14:23 </p>
	        </ion-item>

	        <ion-item class="item item-list item-thumbnail-right item-button-right" ng-click="console.log('aaa')" >
				<h2><i> Fechamento por distância </i></h2>
				<p> 08/09/2018 14:53 </p>
	        </ion-item>

           <!--  <ion-item class="item item-list item-thumbnail-right item-button-right" ng-click="scanBarcode({{atividade.idAtividade}})" ng-repeat="atividade in myatividades |  orderBy:'title'"  >
				<h2></i> {{atividade.titulo}}</h2>
				<p style="color: #333333;"> {{atividade.nomeTipoAtividade}}</p>
				<p > {{atividade.descricao}}</p>
				<p> {{beautify(atividade.dataAtividade)}}</p>
				<p> {{atividade.localAtividade}}</p>
	        </ion-item> -->
	</ion-list>
	</ion-content>
</ion-view>